<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/x-icon">
    <title>Marista Club | E-shop</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css?123" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/Product.css" type="text/css" media="all" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.12&appId=1520610341390396&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="wrapper" class="wrapper-full">
        <div id="dCookies">
            This website uses cookies to ensure we give you the best experience on our website. Find out more about cookies <a href="~/Content/cookies/cookie-policy.html" target="_blank">here</a>. <button class="btn btn-info" onclick="HideCookies()">Accept</button>
        </div>
        <div class="sticky">
            <div class="header-wrapper clearfix">
                <div class="header-top">
                    <div class="container">
                        <div class="right">
                            <div class="login-links " style="margin-top:5px;margin-bottom:5px">


                                @if (Session["CustomerName"] != null)
                                {



                                    <span>Hello, @Session["CustomerName"].ToString() &nbsp;</span>
                                }
                                else
                                {

                                    <a href="/customer"> E-shop Profile</a>
                                }
                                @if (Session["IsBP"] == null || Session["IsBP"].ToString() == false.ToString())
                                {
                                    @Html.Raw("<a href=\"http://admin.maristaclub.com/user/login\" class=\"nav-top-link\">For Members</a> or <a href=\"http://admin.maristaclub.com/bpreg/index\" class=\"nav-top-link\">Become a Member</a></span>")
                                }
                            </div>

                            @Html.Action("Embed", "Cart")
                        </div>
                    </div>
                </div>

                <div class="header header-menu-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 left">
                                <h1 class="logo">
                                    <a href="/" title="Marista Club" rel="home">
                                        <img src="~/Content/images/marista_club_logo.jpg">
                                    </a>
                                </h1>
                            </div>
                            <div class="col-sm-8 right"></div>
                        </div>
                    </div>

                    <div class="menu-wrapper">
                        <div class="container">
                            <h1 class="logo left">
                                <a href="/" title="Marista Club" rel="home">
                                    <img src="~/Content/images/marista_club_logo.jpg">
                                </a>
                            </h1>

                            <div id="main-menu" class="mega-menu menu-right">
                                <ul id="menu-main-menu">
                                    <li class="">
                                        <a href="http://maristaclub.com/" class="" target="_blank">Home</a>
                                    </li>
                                    <li class="">
                                        <a href="http://maristaclub.com/about-us/" class="" target="_blank">About Us</a>
                                    </li>
                                    <li class="active">
                                        <a href="/home/index" class="">E-shop</a>
                                    </li>
                                    <li class="">
                                        <a href="http://maristaclub.com/opportunity/" class="" target="_blank">Opportunity</a>
                                    </li>
                                </ul>
                            </div>

                            <div id="main-mobile-menu">
                                <div id="main-mobile-toggle" class="mobile-menu-toggle">
                                    <span>Menu</span>
                                    <span class="btn btn-inverse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </span>
                                </div>
                                <div class="accordion-menu">
                                    <ul id="menu-main-menu-1" class="">
                                        <li class="">
                                            <a href="http://maristaclub.com/" class="" target="_blank">Home</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/about-us/" class="" target="_blank">About Us</a>
                                        </li>
                                        <li class="open">
                                            <a href="/home/index" class="current">E-shop</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/opportunity/" class="" target="_blank">Opportunity</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="container-shadow"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="layout-content">
            @RenderBody()
        </div>
        <div class="footer-wrapper">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <aside id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="widget-title">E-Shop</h3>
                                <div class="menu-footer-links-container">
                                    <ul id="menu-footer-links" class="menu">
                                        <li class="">
                                            <a href="/home/index">Products</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/payments-policy" target="_blank">Payments & Shipping Policy</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/terms-policy" target="_blank">Terms of Use Policy</a>
                                        </li>
                                        <li class="">
                                            <a href="/customer">My Account</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <aside id="nav_menu-3" class="widget widget_nav_menu">
                                <h3 class="widget-title">Club</h3>
                                <div class="menu-footer-information-container">
                                    <ul id="menu-footer-information" class="menu">
                                        <li class="">
                                            <a href="http://maristaclub.com/about-us/" target="_blank">About us</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/opportunity/" target="_blank">Opportunity</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/business-model/" target="_blank">Business Model</a>
                                        </li>
                                        <li class="">
                                            <a href="http://maristaclub.com/members-benefits/" target="_blank">Members Benefits</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <aside id="" class="widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <form class="" method="POST" enctype="multipart/form-data" id="contact_form">
                                    <div>
                                        <label id="name_label" for="name" class="control-label">Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" value="">
                                        <label id="lValName" class="text-danger" style="display:none">Please, enter value</label>
                                    </div>
                                    <div>
                                        <label id="email_label" for="email" class="control-label">Email:</label>
                                        <input type="text" class="form-control" id="email" name="email" value="">
                                        <label id="lValEmail" class="text-danger" style="display:none">Please, enter value</label>
                                    </div>
                                    <div>
                                        <label id="subject_label" for="subject" class="control-label">Subject:</label>
                                        <input type="text" class="form-control" id="subject" name="subject" value="">
                                        <label id="lValSubject" class="text-danger" style="display:none">Please, enter value</label>
                                    </div>
                                    <div>
                                        <label id="message_label" for="message" class="control-label">Message:</label>
                                        <textarea name="message" value="" class="form-control" id="message" rows="3"></textarea>
                                        <label id="lValMessage" class="text-danger" style="display:none">Please, enter value</label>
                                    </div>
                                    <div class="right submit_container">
                                        <input class="btn btn-default" type="button" name="submit" id="submit_btn" value="send" onclick="SendFeedback()">
                                        <label id="lValOK" class="text-danger" style="display:none">Message successfuly sent</label>
                                    </div>
                                </form>
                            </aside>
                        </div>
                        <div class="col-md-3 col-last col-sm-12">
                            <aside id="facebook-like-widget-2" class="widget facebook-like">
                                <h3 class="widget-title">Facebook</h3>
                                <div class="fb-page" data-href="https://www.facebook.com/maristaclub/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/maristaclub/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/maristaclub/">Marista Club</a></blockquote></div>
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="social-links left">
                        <a target="_blank" class="social-link facebook" href="#" title="" data-toggle="tooltip" data-original-title="Facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a target="_blank" class="social-link twitter" href="#" title="" data-toggle="tooltip" data-original-title="Twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </div>
                    <div class="copyright right">
                        © Copyright Marista Store. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>


    </div>


    @RenderSection("scripts", required: false)
    <script>
        function SendFeedback() {
            $("label[id^='lVal']").hide();
            var name = $("#name").val();
            var email = $("#email").val();
            var subject = $("#subject").val();
            var message = $("#message").val();
            var ok = true;
            if (name === "") {
                $("#lValName").show();
                ok = false;
            }
            if (email === "") {
                $("#lValEmail").show();
                ok = false;
            }
            if (subject === "") {
                $("#lValSubject").show();
                ok = false;
            }
            if (message === "") {
                $("#lValMessage").show();
                ok = false;
            }
            if (!ok)
                return;

            $.ajax({
                url: "/home/sendfeedback",
                method: "POST",
                cache: false,
                data: { Name: name, Email: email, Subject: subject, Message: message },
                async: false,

            }).done(function (res) {

            }).fail(function (jqXHR, textStatus) {
                alert(jqXHR);
            });

            $("#name").val("");
            $("#email").val("");
            $("#subject").val("");
            $("#message").val("");
            $("#lValOK").show();
        }

        function fbshareCurrentPage() {
            window.open("https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(window.location.href) + "&t=" + document.title, '',
                'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        function tweetCurrentPage() {
            window.open("https://twitter.com/share?url=" + encodeURIComponent(window.location.href) + "&text=" + encodeURIComponent(document.title), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
        }

        $(document).ready(
            function () {
                if (localStorage.getItem("CookieNotice") === "1")
                    $("#dCookies").hide();
            }
        )

        function HideCookies() {
            localStorage.setItem("CookieNotice", "1");
            $("#dCookies").hide();
        }
    </script>

    <script src="~/Scripts/scripts.min.js"></script>

</body>
</html>
