@model Marista.Common.ViewModels.ProductVM

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Product #@Model.ProductId</h4>

</div>
<div class="row">
    <div class="col-sm-3">
        <img src="@Url.Action("Picture", new { id = Model.ProductId })" alt="@Model.Name" class="product-picture-lg" />
    </div>
    <div class="col-sm-9">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <p>@Model.Price</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">HCategory</div>
            </div>
            <div class="panel-body">
                @Model.HCategoryCategoryName
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">VCategory</div>
            </div>
            <div class="panel-body">
                @Model.VCategoryCategoryName
            </div>
        </div>
    </div>
</div>
<div class="sub-footer row">
    <div class="col-sm-12">
        <a href="@Url.Action("Edit", new { id = Model.ProductId })" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i> Edit this product</a>
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-backward"></i> Back to the list of products</a>
    </div>
</div>
