@model Marista.Common.ViewModels.ProductVM

@{
    ViewBag.Title = "Edit";
}
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit product #@Model.ProductId</h4>
        <img src="@Url.Action("Picture", new { id = Model.ProductId })" alt="@Model.Name" class="product-picture" />
        @Html.HiddenFor(x => x.ProductId)

        @Html.Partial("_Edit")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { @class = "delete-form" } ))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ProductId)
    <button type="submit" class="btn btn-danger btn-sm pull-right"><i class="glyphicon glyphicon-remove-sign"></i> delete</button>
}

<div class="sub-footer row">
    <div class="col-sm-12">
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-backward"></i> Back to the list of products</a>
    </div>
</div>
