@model ProductVM
@Html.HiddenFor(m => m.ProductId)
<div class="breadcrumbs">
    <!-- breadcrumbs -->
    <div class="container">
        <ul>
            <li>
                <a class="home" href="/home/index">Home</a>
            </li>
            <li>
                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
            <li>
                Product
            </li>
        </ul>
    </div>
</div>
<div id="main" class="column1">
    <!-- main -->
    <div class="container">
        <div class="row">
            <div class="main-content col-sm-12 col-md-12">
                <!-- main content -->

                <div id="container">
                    <div id="content" role="main">
                        <div class="product type-product">
                            <div class="product-essential">
                                <div class="row">
                                    <div class="col-lg-6 col-md-7 col-sm-12">
                                        <div class="images product-images clearfix">
                                            <div class="product-image">
                                                <div class="img-wrapper">
                                                    <img src="@Url.Action("Picture","Product" ,new { id=Model.ProductId})" alt="@Model.Name" title="@Model.Name" id="imgProduct" />
                                                    <video src="@Url.Action("Picture","Product" ,new { id=Model.ProductId})" alt="@Model.Name" title="@Model.Name" id="videoProduct" controls style="display:none"/>
                                                </div>
                                                <div class="price-box bottom-right">
                                                    <div>
                                                        <div class="price">
                                                            <span class="amount">&euro;@((Model.Price * 1.2M).ToString("#.00"))</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-5 col-sm-12 summary entry-summary">
                                        <h1 itemprop="name" class="product_title">@Model.Name</h1>
                                        <div itemprop="description" class="description">
                                            <p>@Html.Raw(Model.Description.Replace("\r\n", "<br/>"))</p>
                                        </div>
                                        <form class="cart" method="post" enctype="multipart/form-data">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus" onclick="ChangeAmmount(-1)">
                                                <input type="number" step="1" min="1" max="10" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" id="tbQuantity">
                                                <input type="button" value="+" class="plus" onclick="ChangeAmmount(1)">
                                            </div>
                                            <button type="button" class="single_add_to_cart_button button alt" onclick="AddTimes()">Add to cart</button>
                                        </form>
                                        <div class="add-links show-all">
                                            <div class="addthis-icons clearfix">
                                                <span class="share">Share: </span>
                                                <!-- AddThis Custom -->
                                                <div class="social-links" addthis:url="#" addthis:title="Day Face Cream">
                                                    <a class="social-link facebook" title="" data-toggle="tooltip" data-original-title="Facebook" onclick="fbshareCurrentPage()">
                                                        <span class="fa fa-facebook"></span>
                                                    </a>
                                                    <a class="social-link twitter" title="" data-toggle="tooltip" data-original-title="Twitter" onclick="tweetCurrentPage()">
                                                        <span class="fa fa-twitter"></span>
                                                    </a>
                                                    <div class="atclear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product_meta">
                                            @*<span class="sku_wrapper"><span class="meta-label">SKU: </span><span class="sku" itemprop="sku">154544578</span></span>*@
                                            <span class="posted_in">
                                                <span class="meta-label">Categories: </span>
                                                <a href="#" rel="tag">@Model.VCategoryCategoryName</a>,
                                                <a href="#" rel="tag">@Model.HCategoryCategoryName</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="woocommerce-tabs resp-vtabs" id="product-tab" style="display: block; width: 100%;">
                                <ul class="resp-tabs-list">
                                    <li aria-controls="tab_item-0" class="resp-tab-item resp-tab-active" role="tab">Description</li>
                                    <li aria-controls="tab_item-1" class="resp-tab-item" role="tab">Additional Information</li>
                                </ul>
                                <div class="resp-tabs-container" style="min-height: 162px;">
                                    <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>DescriptionDescription</h2>
                                    <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Additional Information</h2><div id="tab-description" class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
                                        <h2>Product Description</h2>
                                        <p>@Html.Raw(Model.LongDescription.Replace("\r\n", "<br/>"))</p>
                                    </div>
                                    <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>Additional Information</h2>
                                    <h2 class="resp-accordion" role="tab" aria-controls="tab_item-3"><span class="resp-arrow"></span></h2><div id="tab-additional_information" class="resp-tab-content" aria-labelledby="tab_item-1">
                                        <h2>Additional Information</h2>
                                        <p>@Html.Raw(Model.Benefits.Replace("\r\n", "<br/>"))</p>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                        <div class="related products product-slider">
                            <h2 class="entry-title line-heading"><span class="inline-title">Related Products</span><span class="line line-related"></span></h2>

                            <div class="archive-products">
                                <div class="product-row">
                                    <ul class="products row clearfix grid">
                                        @foreach (var rp in Model.RelatedProducts)
                                        {
                                            <li class="col-md-3 col-sm-4 product">
                                                <div class="inner clearfix">
                                                    <a href="/product/view?id=@rp.ProductId">
                                                        <span class="product-image">
                                                            <img width="228" height="228" src="/product/picture?id=@rp.ProductId" alt="product_03">
                                                            <div class="price-box bottom-right">
                                                                <span class="price"><span class="amount"><span class="">&euro;</span>@rp.Price.ToString("#.00")</span></span>
                                                            </div>
                                                            <div class="figcaption">
                                                                <span class="btn btn-arrow quickview-button top-right"><span class="fa fa-search"></span></span>
                                                            </div>
                                                        </span>
                                                    </a>
                                                    <div class="product-details">
                                                        <a class="product-loop-title" href="/product/view?id=@rp.ProductId">
                                                            <h3>@rp.Name</h3>
                                                        </a>
                                                        <div itemprop="description" class="description">
                                                            <p>@rp.Description</p>
                                                        </div>
                                                        <div>
                                                            <a class="add-to-cart-btn" style="cursor:pointer;" onclick="AddToCart(@rp.ProductId)">Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var arrPics = null;
    var picId = 0;

    function AddToCart(productId) {
        $.ajax({
            url: "/home/addtocart?productId=" + productId,
            method: "GET",
            cache: false,
            async: false,

        }).done(function (res) {

        }).fail(function (jqXHR, textStatus) {
            alert(textStatus);
        });
        UpdateSmallCart();
    }

    function ChangeAmmount(step) {
        var elem = $("#tbQuantity");
        if (parseInt($(elem).val()) + step == 0)
            return;
        $(elem).val(parseInt($(elem).val()) + step);

    }

    function AddTimes() {
        var times = parseInt($("#tbQuantity").val());
        var productId = $("#ProductId").val();
        $.ajax({
            url: "/home/addtocart?productId=" + productId + "&times=" + times,
            method: "GET",
            cache: false,
            async: false,

        }).done(function (res) {

        }).fail(function (jqXHR, textStatus) {
            alert(textStatus);
        });
        UpdateSmallCart();
    }

    function ChangeImage() {
        $("#videoProduct")[0].pause();
        if (picId === arrPics.length - 1)
            picId = 0;
        else
            picId++;
        var src = arrPics[picId];
        if (src.indexOf("video=1")>-1) {
            $("#videoProduct").show();
            $("#imgProduct").hide();

            $("#videoProduct").attr('src', src);
        }
        else {
            $("#videoProduct").hide();
            $("#imgProduct").show();
            $("#imgProduct").attr('src', src);
        }
    }
    $("#imgProduct").click(function () {
        ChangeImage();
    });
    $("#videoProduct").click(function () {
        ChangeImage();
    });
    $(document).ready(
        function () {
            arrPics = @Html.Raw(Model.PictureUrls);
        }
    );
</script>