@model Marista.Common.ViewModels.SOBonusSizeVM

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Spinoff Bonus Size #@Model.SOBonusSizeId</h4>

</div>
<div class="row">
    <div class="col-sm-9">
        <p>From: @Model.FromSO</p>
        <p>To: @Model.ToSO</p>
        <p>Percentage: @Model.BonusPercent</p>
    </div>
</div>
<div class="sub-footer row">
    <div class="col-sm-12">
        <a href="@Url.Action("Edit", new { id = Model.SOBonusSizeId })" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i> Edit this spinoff bonus size</a>
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-backward"></i> Back to the list of spinoff bonus sizes</a>
    </div>
</div>
