@model LoginVM
@{
    ViewBag.Title = "Login";
}
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Username').focus();
        })
    </script>
}

@*@Html.ActionLink("xxxx", "BarcodeTest")*@

<div class="container">
    <div class="row">
        <div class="login-box col-sm-6 col-sm-offset-3 member-login-register-header text-center">
            <img src="~/Content/Images/marista_club_logo.jpg">
        </div>
    </div>
    <div class="row">
        <div class="login-box col-sm-6 col-sm-offset-3">

            <form action="@Url.Action("LostPassword", "User")" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center"><h2>Lost password</h2></div>
                    </div>
                    <div class="panel-body">
                        @Html.AntiForgeryToken()
                        @*@Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })*@
                        <div class="form-group">
                            @Html.LabelFor(x => x.Username)
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(x => x.Username)
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("To Login", "Login")
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-lock"></i> Send password</button>
                        @if (ViewBag.ok == true)
                        {
                            <div class="woocommerce-message alert alert-add-to-cart">
                                <span>Password successfuly changed and sent to your email.</span>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
