@model CartVM
<div id="main" class="column1">
    <!-- main -->
    <div class="container">
        <div class="row">
            <div class="main-content col-sm-12 col-md-12">
                <!-- main content -->
                <div id="content" class="site-content" role="main">
                    <article id="post-1883" class="post-1883 page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="page-title">
                                Cart
                            </h1>
                        </header>
                        <div class="entry-content">
                            <div class="woocommerce">
                                <form action="#" method="post">
                                    <table class="shop_table cart" cellspacing="0">
                                        <thead>
                                            <tr class="mobile-hide">
                                                <th class="product-wrap">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                            <tr class="mobile-row">
                                                <th colspan="4"><span id="sCount"></span> Product(s) In Your Cart</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var p in Model.Products)
                                            {
                                                <tr class="cart_item" id="tr_@p.ProductId">
                                                    <td class="product-wrap">
                                                        <div class="product-thumbnail">
                                                            <img src="@Url.Action("Picture","Product",new { id=p.ProductId})" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="@p.ProductName" />
                                                        </div>
                                                        <div class="product-detail">
                                                            <div class="product-name">
                                                                @p.ProductName
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="mobile-show">Price: </span>
                                                        <input type="hidden" id="hPrice_@p.ProductId" value="@p.Price" />
                                                        <input type="hidden" id="hDiscount_@p.ProductId" value="0" />

                                                        <span class="amount">EUR @p.Price.ToString("0.##")</span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="minus" onclick="ChangeAmmount(@p.ProductId,-1)">
                                                            <input type="number" readonly="readonly" step="1" min="1" max="" name="quantity" value="@p.Quantity" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" id="tbQuantity_@p.ProductId" pid="@p.ProductId">
                                                            <input type="button" value="+" class="plus" onclick="ChangeAmmount(@p.ProductId,1)">
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">
                                                        <span class="mobile-show">Total: </span>
                                                        <span class="amount" id="sTotal_@p.ProductId"></span>
                                                        <div class="product-remove">
                                                            <a href="#" class="btn-arrow remove" title="Remove this item" onclick="RemoveProduct(@p.ProductId)">×</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            }
                                            <tr>
                                                <td colspan="4" class="actions clearfix" style="text-align: right">
                                                    <a href="/cart/checkout" class="checkout-button btn-lg btn-special m-sm button alt wc-forward">Proceed to Checkout</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="cart-collaterals">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="woocommerce-shipping-calculator shipping_calculator">
                                                    <h2>Calculate Shipping</h2>
                                                    <section class="shipping-calculator-form" style="display:none;">
                                                        <p class="form-row form-row-wide input-field">
                                                            <label for="calc_shipping_country"><span class="fa fa-globe"></span>Country</label>
                                                            @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.Countries, "Value", "Text"), new { @class = "country_to_state", @id = "ddlCountry", @onchange = "ChangeCountry()" })

                                                        </p>
                                                        <p class="form-row form-row-wide input-field">
                                                            <label for="tbCoupon"><span class="fa fa-truck"></span>Coupon</label>
                                                            <input type="text" class="input-text" value="" placeholder="Coupon" name="tbCoupon" id="tbCoupon">
                                                            <div class="alert alert-warning" style="display:none" id="dInvalidCoupon">Invalid coupon</div>
                                                        </p>
                                                        <p class="clearfix button-row">
                                                            <button type="button" name="calc_shipping" value="1" class="button btn-lg update-cart-btn" onclick="SetCoupon()">Update Totals</button>
                                                        </p>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="cart-baner">
                                                    <div class="cart-baner-msg">
                                                        <div class="col-md-9">
                                                            <h2>
                                                                MARISTA CLUB
                                                            </h2>
                                                            <p>When you imagine the future, what do you see?</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <a class="button btn-lg join-us-btn">Join us</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart_totals calculated_shipping">
                                            <h2>Totals</h2>
                                            <table class="shop_table" cellspacing="0">
                                                <tbody>
                                                    <tr class="cart-subtotal">
                                                        <th>Subtotal</th>
                                                        <td><strong><span class="amount" id="sSubTotal">$18.00</span></strong></td>
                                                    </tr>
                                                    <tr class="shipping">
                                                        <th>Shipping<input type="hidden" id="hCountryPrice" value="@Model.CountryPrice" /></th>
                                                        <td><strong><span class="amount" id="sShipping">$18.00</span></strong></td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>Total</th>
                                                        <td><strong><span class="amount" id="sTotal">$18.00</span></strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="wc-proceed-to-checkout">
                                                <a href="checkout.html" class="checkout-button btn-lg btn-special m-sm button alt wc-forward">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function SetCoupon() {

        var uniqueId = $("#tbCoupon").val();
        $("input[id^='hDiscount_']").each(
            function (i, e) {
                $(e).val(0);
            }
        );

        var result = null;
        $.ajax({
            url: "/cart/SetCoupon",
            method: "GET",
            cache: false,
            data: { uniqueId: uniqueId },
            async: false,

        }).done(function (res) {
            if (res == "error")
                result = false;
            else
                result = res;

        }).fail(function (jqXHR, textStatus) {
            alert(jqXHR);
        });
        if (!result) {
            $("#dInvalidCoupon").show();
            return;
        }
        else
            $("#dInvalidCoupon").hide();


        
        for (var item of result)
            $("#hDiscount_" + item.ProductId).val(item.Discount);
        DisplayTotals();
    }


    function ChangeCountry() {
        var countryId = $("#ddlCountry").val();
        var price = 0;
        $.ajax({
            url: "/cart/changecountry",
            method: "GET",
            cache: false,
            data: { countryId: countryId },
            async: false,

        }).done(function (res) {
            price = parseFloat(res);

        }).fail(function (jqXHR, textStatus) {
            alert(jqXHR);
        })
        $("#hCountryPrice").val(price);
        DisplayTotals();
    }

    function DisplayTotals() {
        var subTotal = 0;
        $("input[id^='tbQuantity_']").each(
            function (i, e) {
                var id = $(e).attr("pid");
                var discount = (100 - parseFloat($("#hDiscount_" + id).val())) / 100;
                var sum = parseFloat($("#hPrice_" + id).val()) * parseFloat($(e).val()) * discount;
                $("#sTotal_" + id).text("EUR " + sum.toFixed(2));
                subTotal += parseFloat(sum.toFixed(2));
            }
        );
        $("#sSubTotal").text("EUR " + subTotal.toFixed(2));
        var shipping = parseFloat($("#hCountryPrice").val());
        $("#sShipping").text("EUR " + shipping.toFixed(2));
        $("#sTotal").text("EUR " + (shipping + subTotal).toFixed(2));



    }

    function ChangeAmmount(productId, step) {
        var elem = $("#tbQuantity_" + productId);
        if (parseInt($(elem).val()) + step == 0)
            return;
        $(elem).val(parseInt($(elem).val()) + step);
        $.ajax({
            url: "/cart/changeammount",
            method: "GET",
            cache: false,
            data: { productId: productId, step: step },
            async: false,

        }).done(function (res) {

        }).fail(function (jqXHR, textStatus) {
            alert(jqXHR);
        })

        DisplayTotals();
    }

    function RemoveProduct(productId) {
        $("#tr_" + productId).remove();
        $.ajax({
            url: "/cart/removeproduct?productId=" + productId,
            method: "GET",
            cache: false,
            async: false,

        }).done(function (res) {

        }).fail(function (jqXHR, textStatus) {
            alert(textStatus);
        })

        DisplayTotals();
    }
    $(document).ready(
        function () {

            DisplayTotals();
        }
    );
</script>