<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container-fluid">
        @if (ViewBag.Username != null)
        {
            <a href="@Url.Action("Index", "DashBoard")" class="btn btn-default">To start</a>
        }
        @*<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Marista</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Products", "Index", "Product", null, null)</li>
                            <li>@Html.ActionLink("Related Products", "Index", "RelatedProduct", null, null)</li>
                            <li>@Html.ActionLink("Bonus Sizes", "Index", "BonusSize", null, null)</li>
                            <li>@Html.ActionLink("Spinoff Bonus Sizes", "Index", "SOBonusSize", null, null)</li>
                            <li>@Html.ActionLink("Constants", "Index", "Constant", null, null)</li>
                            <li>@Html.ActionLink("Chat", "Index", "Chat", null, null)</li>
                            <li>@Html.ActionLink("Coupons", "Index", "Coupon", null, null)</li>
                            <li>@Html.ActionLink("Documents", "Index", "MarketingMaterial", null, null)</li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
