@model Marista.Common.ViewModels.BonusSizeVM

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Bonus Size #@Model.BonusSizeId</h4>

</div>
<div class="row">
    <div class="col-sm-9">
        <p>From: @Model.FromBonus</p>
        <p>To: @Model.ToBonus</p>
        <p>Percentage: @Model.BonusPercent</p>
    </div>
</div>
<div class="sub-footer row">
    <div class="col-sm-12">
        <a href="@Url.Action("Edit", new { id = Model.BonusSizeId })" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i> Edit this bonus size</a>
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-backward"></i> Back to the list of bonus sizes</a>
    </div>
</div>
